<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des oeuvres</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
</head>
<body>
	<h1>Liste des oeuvres</h1>

	<a th:href="@{/api/getAllSoliste}" class="btn btn-secondary">Retour à la liste des solistes</a>
	<a th:href="@{/api/concert/getAllConcert}" class="btn btn-secondary">Liste des concerts</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nom</th>
				<th scope="col">Durée</th>
				<th scope="col">Soliste(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="oeuvre : ${listOeuvres}">
				<td scope="row" th:text="${oeuvre.id}"></td>
				<td th:text="${oeuvre.nom}"></td>
				<td th:text="${oeuvre.duree}"></td>
				<td>
					<ul th:if="${not #lists.isEmpty(oeuvre.solistes)}">
						<li th:each="soliste : ${oeuvre.solistes}" th:text="${soliste.nom}"></li>
					</ul>
					<span th:if="${#lists.isEmpty(oeuvre.solistes)}">-</span>
				</td>
			</tr>
		</tbody>
	</table>

	<a th:href="@{/api/oeuvre/formulaire}" class="btn btn-primary">Ajouter une oeuvre</a>
	
	<div style="text-align:center">
		<button type="button"onclick="location.href = '/api/oeuvre/getAllOeuvre';" class="btn btn-primary">Rafraîchir la page</button>
	</div>
	
	<form method="post" action="getOeuvreById">
		<div class="mb-3">
			<label for="id" class="form-label">Id :</label> 
			<input type="text" class="form-control" id="id" name="id">
		</div>
		<button type="submit" class="btn btn-primary">Chercher une oeuvre par id</button>
	</form>
	
	<form method="post" action="getOeuvreByName">
		<div class="mb-3">
			<label for="nom" class="form-label">Nom :</label> 
			<input type="text" class="form-control" id="nom" name="nom">
		</div>
		<button type="submit" class="btn btn-primary">Chercher une oeuvre par nom</button>
	</form>
		
</body>
</html>